* {
    margin: 0%;
    padding: 0%;
}

body {
    /* background-image: url("https://wallpapercave.com/wp/wp7453739.jpg"); */
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    height: 100%;
}

.sidebar {
    background-color: silver;

    width: 12%;
    padding-top: 40px;
    padding-left: 40px;
}

.main {
    width: 88%;
}

ul {
    list-style: none;

}

ul li {
    margin-top: 40px;
}

ul li a {
    text-decoration: none;
    font-size: 25px;
}

.infocontainer {
    display: flex;
    justify-content: space-around;
    padding-top: 112px;
}

.devinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.hello {
    font-size: 60px;
}

.name {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.developer {
    font-size: 20px;
}

.button button {
    font-size: 20px;
    margin-top: 10px;
    border: 1px solid;
    border-radius: 50px;
    padding: 6px;

}

.button button a {
    text-decoration: none;
}

.contactbutton {
    margin-left: 10px;
}
.header {
    width: 100%;
    height: 204px;
    background-color: #41A4F5;
    display: flex;
    flex-direction: row;
    padding-top: 50px;
}

.image {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    border-radius: 100px;
    margin-left: 50px;
}

.about {
    margin-left: 50px;
}

.about div {
    margin-top: 20px;
}

.icon-sm {
    color: aliceblue;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 25px;
}

.first {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.blog1 {
    border: 1px solid wheat;
    width: 350px;
    height: 350px;
    margin: 10px;
}

.second {
    display: flex;
}
