* {
    margin: 0%;
    padding: 0%;
}

body {
    /* background-image: url("https://wallpapercave.com/wp/wp7453739.jpg"); */
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    height: 100%;
}

.sidebar {
    background-color: silver;

    width: 12%;
    padding-top: 40px;
    padding-left: 40px;
}

.main {
    width: 88%;
}

ul {
    list-style: none;

}

ul li {
    margin-top: 40px;
}

ul li a {
    text-decoration: none;
    font-size: 25px;
}

.infocontainer {
    display: flex;
    justify-content: space-around;
    padding-top: 112px;
}

.devinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.hello {
    font-size: 60px;
}

.name {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.developer {
    font-size: 20px;
}

.button button {
    font-size: 20px;
    margin-top: 10px;
    border: 1px solid;
    border-radius: 50px;
    padding: 6px;

}

.button button a {
    text-decoration: none;
}

.contactbutton {
    margin-left: 10px;
}

/* intro page */
.introHeader {
    display: flex;
    flex-direction: row;
    /* height: 355px; */
    background-color: #41A4F5;
}

.introImage img {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 30px;
}

.introAbout {
    margin-top: 40px;
}

.introButton button {
    margin: 20px 0px 0px 100px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 7px;
    border-radius: 5px;
    border: 0px;
}

.skill {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;
}

.skills {
    width: 350px;
    height: 300px;
    background-color: white;
}

.iconClass {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.iconClass img {
    background-color: #41A4F5;
    border-radius: 25px;
    padding: 8px;
    position: relative;
    top: -39px;
}

.multipleSkill div {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}